body{
    background: #313131;
    margin: 20px;
    padding: 50px;
}
.about{
color: #FFF;
text-align: center;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.link { 
 color: #FFF;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
position: absolute;
right: 90px;
bottom: 250px;
text-align: center;

}
.link img{
    width: 240px;
}
